.about {
    background: #5C7A7A;
    overflow: hidden;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    align-items: center;

    .holder {
        margin: 0 20px;
    }

    .title {
        font-size: 36px;
    }

    .sub-title {
        font-size: 24px;
    }

    .desc {
        font-size: 16px;
    }
}
