.about {
    background: #5C7A7A;
    display: flex;
    color: #fff;

    .title {
        font-size: 36px;
    }

    .sub-title {
        font-size: 24px;
    }

    .desc {
        font-size: 16px;
    }

    .next {
        svg {
            path {
                fill: #fff;
            }
        }
    }
}
