.contact {
    background: #BDC7C7;
    color: #5C7A7A;

    .title {
        font-size: 24px;
    }

    .email {
        color: #5C7A7A;
        display: inline-block;
    }

    .social {
        margin: 40px 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            + li {
                margin-left: 10px;
            }
        }

        a {

        }

        svg {
            width: 40px;

            path {
                fill: #5C7A7A;
            }
        }
    }
}

@media screen and (min-width: 600px) {

}
