.projects {
    background: #fff;
    color: #4F4640;

    .holder {
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .next {
        svg {
            path {
                fill: #4F4640;
            }
        }
    }

    .projects-holder {
        display: flex;
        margin: 0 -20px;
        overflow: auto;
    }

    .project {
        flex-shrink: 0;
        width: 80%;
        box-sizing: border-box;
        margin-left: 20px;

        &.netshoes {
           .logo {
           background-color: #5e2a7d;
           }

           svg {
               height: 150px;
           }
        }

        &.honda {
           .logo {
           background-color: #dd292c;
           }

           svg {
               height: 150px;
           }
        }

        &.pep {
            .logo {
            background-color: #972590;
            }

            svg {
               height: 50px;
           }
        }

        .logo {
            height: 100px;
            text-align: center;
            overflow: hidden;
            position: relative;

            svg {
                position: absolute;
                left 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                path {
                    fill: #fff;
                }
            }
        }

        .link {
            color: #4F4640;
        }
    }
}

@media screen and (min-width: 600px) {
    .projects {

        .holder  {
            padding: 0;
        }

        .projects-holder {
            display: flex;
            margin: 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .project {
            width: 48%;
            margin-left: 0;
            margin-bottom: 4%;
        }
    }
}
