@import "../../node_modules/kouto-swiss/"

@import "./components/*"

normalize()

body {
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, p {
    line-height: 160%;
}

.section {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .holder {
        margin: 0 20px;
        max-width 800px;
    }

    .next {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);

        svg {
            width: 50px;
        }
    }
}
